body{
    
    background-color: burlywood;
}
.login_div1, .login_div2
{
  background:pink;
    padding: 10px;
    float: none;
    border-radius: 10px;
    width: 500px;
    text-align: left;
}
#player1_name_input , #player2_name_input
{
  display: inline-block;
    margin: 25px;
    color: :red;
    
}
#word{
    width: 60%;
}
#word_display{
    letter-spacing: 5px;
}
#output {
    background: yellow;
    border-radius: 20px;
    border-top: 10px double green;
    padding: 20px;
    float: 10px;
    text-align: left;
}
body{
    background-image: url(myimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form-control{
    background-color: gold;
    
}
button[id="btn"]:hover{
    background-color:antiquewhite;
    
}
#pass{
    color:yellowgreen;
}
#number1 , #number2

{
    color:black;
}
button[class='btn btn-info']:hover{
    background-color:yellowgreen;
        
}